* {
	box-sizing: border-box;
	font-family: Arial, sans-serif;
}

#title {
	font-size: 35px;
	margin: 1%;
	font-style: bold;
	color: red;
	text-align: center;
}

.section {
	float: left;
	margin: 0px 0px 1% 1%;
	border: 1px solid black;
	box-shadow: 2px 2px 5px;
}

#section1 {
	background-color: red;
}

#section2 {
	background-color: red;
}

#section3 {
	background-color: red;
}

.subtitle {
	padding: 5px;
	font-size: 25px;
	float: right;
	font-style: bold;
	margin: 0px 0px 10px 0px;
	border-color: black;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
}

#subtitle1 {
	color: red;
	background-color: black;
}

#subtitle2 {
	color: black;
}

#subtitle3 {
	color: red;
	background-color: yellow;
}

.content{
	font-size: 20px;
	clear: right;
	border: 0px;
	text-align: justify;
	margin: 10px;
}

#content1 {
	color: black;
}

#content2 {
	color: black;
}

#content3 {
	color: black;
}

body {
	background-color: grey;
}

@media (max-width: 767px) {
	#section1 {
		width: 98%;
	}
	#section2 {
		width: 98%;
	}
	#section3 {
		width: 98%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#section1 {
		width: 48.5%;
	}
	#section2 {
		width: 48.5%;
	}
	#section3 {
		width: 98%;
	}
}

@media (min-width: 992px) {
	#section1 {
		width: 32%;
	}
	#section2 {
		width: 32%;
	}
	#section3 {
		width: 32%;
	}
}
